<%- include("header") -%> 

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia soluta numquam officiis, error id dolores, voluptates corrupti blanditiis repellendus ea accusantium explicabo itaque quis a, ipsum sint ab similique voluptatem.</p>

<%- include("footer") -%> 